<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="宁夏大学智能媒体信息处理实验室，主要研究：智能信息处理，媒体分析与理解，云计算与物联网的应用研究等。"/>
    <meta name="keywords" content="智能媒体信息处理，媒体分析与理解，云计算与物联网，人工智能，深度学习"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/homepage/assets/css/style.css">
  </head>
  <body>
    <section class="page-header">
      <h2 class="project-name">宁夏大学智能媒体信息处理实验室</h2>
      <h2 class="project-tagline">Intelligent Media Information Processing Laboratory @ NXU</h2>
        <a href="en.html" class="btn">English</a>
        <a href="index.html" class="btn">首页</a>
        <a href="https://xxgc.nxu.edu.cn/info/1014/2233.htm" class="btn">导师介绍</a>
        <a href="members.html" class="btn">成员一览</a>
        <a href="project.html" class="btn">项目论文</a>
        <a href="joinus.html" class="btn">招生说明</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">© 2021 Zhang Peng. All Rights Reserved. </span>
      </footer>
    </section>
  </body>
</html>
